<h2><%= post.title %></h2>

Published <%= published.getDate() %>/<%= published.getMonth()+1 %>/<%= published.getFullYear() %>

<% if (post.categories.length > 0) { %>
  in 
  <% post.categories.forEach(function(cat) { %>
    <a href="/category/<%= cat.slug %>"><%= cat.name %></a> 
  <% }); %>
<% } %>

<br>

<%= post.author.first_name %> <%= post.author.last_name %>

<div>
  <%- post.body %>
</div>